<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <title>{% block title %} {% endblock %}</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

</head>
<body>
    
     <div class="jumbotron">     
        
        <p class="form-body">
            {% include 'inc/messages.html' %}
            {{ form.non_field_errors }}

                <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">مبدا</th>
                    <th scope="col">مقصد</th>
                    <th scope="col">ایرلاین</th>
                    <th scope="col">شماره پرواز</th>
                    <th scope="col">تاریخ پرواز</th>
                    <th scope="col">ساعت پرواز</th>
                    <th scope="col">تاریخ جدید</th>
                    <th scope="col">ساعت جدید</th>
                  </tr>
                </thead>
                
                <tbody >
                    <tr >
                      <form action="" method="post">
                        {% csrf_token %}
                      <th scope="row"  >{{ flight.id}}</th>
                        
                      <td >{{ form.Flight_Origin }}</td>
                      <td>{{ form.Flight_Distination }}</td>
                      <td>{{ form.Flight_Airline }}</td>
                      <td>{{ form.Flight_Nomber }}</td>
                      <td>{{ form.Flight_Date }}</td>
                      <td>{{ form.Flight_Time }}</td>
                      <td>{{ form.schadule_Date }}</td>
                      <td>{{ form.schadule_Time }}</td>
                    </tr>
                 
                  </tbody>
            
                </table>
                <input type="submit" value="submit" class="btn btn-primary">
               
            </form>
            


            </div>
          
            </p>
    </div>

</body>
</html>

